[submodule "sharp_net"]
	path = sharp_net
	url = git@github.com:zicjin/sharp_net.git
[submodule "SpiderMan.Entity"]

	path = SpiderMan.Entity

	url = git@github.com:zicjin/SpiderMan.Entity.git

[submodule "Baozou.Entity"]

	path = Baozou.Entity

	url = git@github.com:zicjin/Baozou.Entity.git