@using SpiderMan.Entity
@{
    ViewBag.Title = "Index";
}

<h3>TaskModels:</h3>
<table id="taskModels">
    @foreach (var item in ViewBag.TaskModel) {
        <tr modelid="@item.Id">
            <td><a target="_blank" class="site_cmd" href="@item.Url">@item.Name</a></td>
            <td class="interval">@item.Interval</td>
            <td>
                <button class="action">Stop</button>
                <button class="manualOne">ManualOne</button>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td>
            <button id="stopAllModel">StopAllModel</button>
            <button id="startAllModel">StartAllModel</button>
        </td>
    </tr>
</table>

<h3>Agents:</h3>
<ul id="agentsul"></ul>
<h3>TasksQueue:</h3>
<ul id="tasksqueue"></ul>

@section Scripts {
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var taskHub = $.connection.taskHub;
            var agentsul = $('#agentsul')
            var taskmodels = $('#taskModels')
            taskHub.client.agentList = function (agents) {
                agentsul.empty()
                _.each(agents, function (agent) {
                    var li = $('<li />').appendTo(agentsul)
                    li.text(agent.name + ' - ' + (agent.online ? "online" : "offline") + ' - ' + agent.connectionId)
                })
            }
            var tasksqueue = $('#tasksqueue');
            taskHub.client.broadcastRanderTask = function (tasks) {
                tasksqueue.empty();
                $(tasks).each(function () {
                    var li = $('<li />', { tid: this.id }).appendTo(tasksqueue)
                    li.append('<a target="_blank" href="' + this.url + '">' + this.source + ' - ' + this.commandType + '</a>')
                    li.append('<a href="javascript:;" class="del ml10">delete</a>')
                    if (this.status == 3) {
                        li.append(" --done! spend " + this.spend + " by " + this.handlerAgent);
                    } else if (this.status == 2) {
                        li.append(" --fail: " + this.error);
                    } else if (this.status == 1) {
                        li.append(" --executing by " + this.handlerAgent);
                    }
                });
            }
            $.connection.hub.start().done(function () {
                taskHub.server.registerBoard();
                $('button.manualOne', taskmodels).click(function () {
                    var _table = $(this).closest('tr')
                    taskHub.server.manualModel(_table.attr('modelid'));
                });
                $('button.action', taskmodels).click(function () {
                    _this = $(this);
                    var modelid = _this.closest('tr').attr('modelid')
                    if (_this.text() == 'Stop') {
                        taskHub.server.stopModel(modelid);
                        _this.text('Start')
                    } else {
                        taskHub.server.startModel(modelid);
                        _this.text('Stop')
                    }
                });
                $('#stopAllModel').on('click', function () {
                    $('button.action:contains("Stop")', taskmodels).click()
                });
                $('#startAllModel').on('click', function () {
                    $('button.action:contains("Start")', taskmodels).click()
                });

                tasksqueue.on('click', 'a.del', function () {
                    taskHub.server.deleteTask($(this).parent('li').attr('tid'));
                })
            });
        });
    </script>
}