#articlebox{position:relative;padding-left:350px;}
#itemlist{position:absolute;top:0;left:0;width:330px;padding:0;margin:0;overflow:auto;
	li{border-bottom:1px solid #555;height:72px;overflow:hidden;line-height:22px;
		position:relative;padding-left:20px;cursor:pointer;border-left:2px solid transparent;
		&.viewing{border-left:2px solid $linkColor}
	}
	a.h4{font-weight:bold;line-height:24px;}
	input.check{position:absolute;top:0;left:0;height:80px;width:16px;cursor:pointer;}
}
#itembox{font-size:15px;
	a.h3{font-size:22px;}
}
#actionbar{margin:0 0 12px;border-bottom:1px solid #555;padding-bottom:8px;}