$front_net_path: "/front_net/";

$bodyBackground:  #1f1f1f;

$textColor:  #FFEDDD;
$linkColor:  #C10000;
$linkColorHover:  lighten($linkColor, 15%);
$gray: #cbcbcb;
$grayLight: #fdfdfd;

$ifcolor: $gray;
$sucolor: #332828;
$wncolor: #D69131;
$dgcolor: #002894;

@import "../front_net/sass/var";
@import "../front_net/bootstrap/lib/variables";
@import "../front_net/bootstrap/lib/mixins";

@import "../front_net/sass/com";
@import "../front_net/sass/reset";
@import "../front_net/sass/skeleton";

@import "../front_net/module/ms/ms";

body{padding:20px 20px 20px 200px;}
header {position: absolute;left: 0;top:0;width: 155px;z-index: 3;
	a.site-title{font-size: 1.5em;display: block;margin:20px 0 20px 23px;}
	ul{list-style-type: none;padding:0;}
	li{cursor: pointer;padding-left:18px;border-left:6px solid transparent;
		a{display: block;line-height: 29px;margin: 10px 0;}
		a.extand{margin-left:6px;font-size:12px;display:none;line-height:26px;
			&.selected{color:lighten($wncolor, 20%);}
		}
		&.selected{border-left:6px solid $wncolor;cursor: default;
			a{color:$wncolor}
		}
		&:hover{
			a.extand{display:inline!important;}
		}
	}
}

form{
	ol{list-style-type: none;padding:0;}
	label{display:block;}
}
h2{border-bottom:1px solid #555;margin: 0 0 0.83em;padding-bottom:5px;}
h3{margin:1.5em 0 0.5em;}
table td,table th{padding:5px 10px 5px 0;border-bottom:1px solid #555;}
table th{font-style:italic;font-weight:normal;}
footer {position:fixed;bottom:5px;left:5px;}

#tasksqueue li{
	a.del{display:none;}
	&:hover{
		a.del{display:inline;}
	}
}